{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{'Profil'|trans}}</h1>
        <h2>{{'Mes informations'|trans}}</h2>
        {{ form(form_product) }}
    </div>
{% endblock %}